<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuaReceita</title>
</head>
<body>
    <h1>Lua Recipes</h1>
    <h2>Seja bem vindo ao site</h2>

    <table>
        <thead>
            <tr>
                <td>Recipes name</td>
                <td>Ingredients</td>
                <td>Preparation mode</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Green Juice</td>
                <td>Green Sheets, 1 apple, 1 carrot</td>
                <td>Put everything in the blender</td>
            </tr>
        </tbody>
    </table>
</body>
</html>